
$font-text: 'GothamBook',sans-serif;
$font-bold: 'gotham_bold',sans-serif;
$font-medium: 'Gotham_Medium',sans-serif;
$font-second: 'Open Sans', sans-serif;



$text-color: #2c4058;
$main-color: #55b7ff;
$bg-color: #333;
$bg-card-color: rgba(35,35,35,.9);
$bg-color-footer: #232323;
